.interactable {
  cursor: pointer;
}

.hide {
  display: none;
}

.point {
  width:35%;
  height:35%;
  border-radius:50%;
  z-index: 2;
}

:host {
  width: 34px;
  min-width: 34px;
  min-height: 34px;
  height: 34px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
