.point {
  /* width:10px;
  height:10px; */
  width:35%;
  height:35%;
  border-radius:50%;
  cursor: pointer;
  /* border: 1px black; */
  /* border-style: solid; */
}

:host {
  width:1.9vw;
  min-width: 25px;
  min-height: 25px;
  height:1.9vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* background: greenyellow; */
  /* border: 1px dashed black; */
  /* border-radius: 25%; */
}
