<!-- Entire container for the top menu bar -->
<div class="topbar-container">

  <!-- Project Title with Link to Tutorial -->
  <h2 id=project_name> Travelling Salesman Problem Visualiser </h2>

  <!-- Algorithm Selector -->
  <div class="algorithm-selector">

    <h4 id="algorithm-text"> Choose an Algorithm! </h4>

    <mat-form-field appearance="fill" id="algorithm-dropdown">
      <mat-label> Algorithm </mat-label>
      <mat-select>

        <mat-option> None </mat-option>
        <mat-optgroup> Group 1 Algorithms
          <mat-option> Algorithm A </mat-option>
          <mat-option> Algorithm B </mat-option>
          <mat-option> Algorithm C </mat-option>
        </mat-optgroup>

        <mat-optgroup> Group 2 Alogirthms
          <mat-option> Algorithm D </mat-option>
          <mat-option> Algorithm E </mat-option>
          <mat-option> Algorithm F </mat-option>
        </mat-optgroup>

      </mat-select>
    </mat-form-field>
  </div>

  <div class="node-control">


  </div>

</div>


