<!-- Entire container for the top menu bar -->
<div class="topbar-container">

  <!-- Project Title with Link to Tutorial -->
  <h2 id=project-name> Travelling Salesman Problem Visualiser </h2>

  <!-- Algorithm Selector -->
  <div class="algorithm-selector">

    <h4 id="algorithm-text"> Choose an Algorithm! </h4>

    <!-- Dropdown menu for algorithms (with groups) -->
    <mat-form-field appearance="fill" id="algorithm-dropdown">
      <mat-label> Algorithm </mat-label>
      <mat-select>

        <mat-option> None </mat-option>
        <mat-optgroup> Group 1 Algorithms
          <mat-option> Algorithm A </mat-option>
          <mat-option> Algorithm B </mat-option>
          <mat-option> Algorithm C </mat-option>
        </mat-optgroup>

        <mat-optgroup> Group 2 Alogirthms
          <mat-option> Algorithm D </mat-option>
          <mat-option> Algorithm E </mat-option>
          <mat-option> Algorithm F </mat-option>
        </mat-optgroup>

      </mat-select>
    </mat-form-field>
  </div>

  <!-- Node randomiser and clearing -->
  <div class="node-control">
    <h4 id="node-control-description"> <span> Initialise Vertices </span> </h4>
    <!-- Slider tracking number of nodes -->
    <div class="node-slider-and-display">
      <h4 id="number-of-nodes"> {{randomPointAmount}} </h4>
      <mat-slider thumbLabel min="2" max="200" id="node-slider" (input)="updateRandomAmount($event)"> </mat-slider>
    </div>
    <!-- Randomise and clear node buttons -->
    <div class="node-control-buttons">
      <button mat-raised-button color="primary" id="randomise-button" (mousedown)="randomize()"> <span class="node-buttons"> Randomise! </span></button>
      <button mat-raised-button color="warn" id="clear-button" (mousedown)="clearAll()"> <span class="node-buttons"> Clear </span> </button>
    </div>
  </div>

  <!-- Information about Algorithm and path complexity (needs to be made dynamic) -->
  <div class="path-info">
    <h4 class="path-info-text"> Possible Paths:  {{currPointAmount}}! </h4> <!-- Function of only number of nodes-->
    <h4 class="path-info-text"> Elapsed Duration: 3s </h4>
    <h4 class="path-info-text"> Current Distance: 5m </h4> <!-- Function of number of nodes and algorithm -->
    <h4 class="path-info-text"> Minimum Distance: 4m </h4>
  </div>

  <!-- Start/Pause and Reset Controls div -->
  <div class="playback-control">
    <!-- Buttons -->
    <div class="playback-buttons">
      <button mat-raised-button color="success" id="start-button"> <span id="playback-button-text"> Start! </span> </button>
      <button mat-raised-button color="accent" id="reset-button"> <span id="playback-button-text"> Reset </span> </button>
    </div>
    <!-- Slider controlling playback speed-->
    <div class="playback-speed">
      <mat-slider id="playback-slider"> </mat-slider>
      <div class="speeds">
        <h4 class="speed-text" id="slow"> Slow </h4>
        <h4 class="speed-text" id="fast"> Fast </h4>
      </div>
    </div>
</div>


