:host {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 0px;
  margin-top: -5px;
  overflow-x: auto;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}
