<h2 mat-dialog-title class="dialog-title" [style.display]="infoPageNumber==0 ? 'block':'none'">
  Welcome to the <br> Travelling Salesman Problem Visualiser!
</h2>
<h2 mat-dialog-title class="dialog-title" [style.display]="infoPageNumber==1 ? 'block':'none'">
  The Travelling Salesman Problem
</h2>

<div class="dialog-content">
  <mat-dialog-content class="dialog-text">

    <div [style.display]="infoPageNumber==0 ? 'inline':'none'">
      <h2> Test </h2>
      We are currently at page {{infoPageNumber}} <br>
      We could put an introduction here!
    </div>

    <div [style.display]="infoPageNumber==1 ? 'inline':'none'">
      We are currently at page {{infoPageNumber}} <br>
      We could put a guide to how to use the visualiser!
    </div>

    <div [style.display]="infoPageNumber==2 ? 'inline':'none'">
      We are currently at page {{infoPageNumber}} <br>
      We could include algorithm information here!
    </div>

    <div [style.display]="infoPageNumber==3 ? 'inline':'none'">
      We are currently at page {{infoPageNumber}} <br>
      We can add as many pages as we want! (notice how the next and prev buttons change dynamically)
    </div>

  </mat-dialog-content>

</div>

<mat-dialog-actions>
  <div class="dialog-buttons">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="infoPageNumber==0"
      (mousedown)="decrementPage()"
      id="prev-button"
    >
      Previous
    </button>
    <button
      mat-stroked-button
      color="primary"
      [disabled]="infoPageNumber==3"
      (mousedown)="incrementPage()"
      id="next-button"
    >
      Next
    </button>

    <button mat-stroked-button mat-dialog-close color="basic" id="close-button"> Close </button>

  </div>
</mat-dialog-actions>
