.type0 {
}
.type1 {
}


.path {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  /* border: 1px black; */
  /* border-style: solid; */
  /* border-top: 1px solid red; */
  border-top: 6px solid rgba(0,0,0,0.7);
}
